img {
    height: auto;
    width: 30%;
    margin: 20px;
    flex-wrap: wrap;
    display: flex;
    color: white;
    display: block;
    max-width: 100%;
}

#album {

    background: rgb(245, 242, 242);
    margin: auto;
    text-align: center;
    vertical-align: text-bottom;  
    display: flex;
    text-underline-position: auto;
}

h2 {

    background: rgb(39, 38, 37);
    padding: 10px;
    font-display: center;
    color: aliceblue;
    margin-left: 0px;
    position: center;
}



.poster-albums {

    margin-top: 15px;
    padding-top: 100%;
    background: red;

}

p {
    margin: 20px;
    display: flex;
    
}
